:root {
    --headerColor: #192340;
    --navbarColor: #7775BF;
    --highlightColor: #3D4573;
    --backgroundColor: #cbccd1;
    --textColor: #fff;

    --picWidth: 400px;
    --picHeight: 250px;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroundColor);
}

#main-header{
    /*modifies flexbox*/
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    /*modifies width/height*/
    height: 100px;
    width: 100%;
    /*modifies main header elements*/
    background-color: var(--headerColor);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
/*modifies h1 in header */
#main-header > h1 {
    padding-left:5px;
    font-size: 48px;
    color: var(--textColor);
}

/*navbar styling*/
.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    width: auto;
    height:28px;
    font-size: 24px;
    background-color: var(--navbarColor);
    background-origin: content-box;
}
.navbar a {
    padding: 5px; ;
    color: var(--textColor);
    text-decoration: none;
}

.navbar a:hover{
    background-color: var(--highlightColor);
    padding-bottom: 2px;
}
.navbar a:active{
    font-size: 95%;
}

a.navbar:focus{
    background-color: var(--highlightColor);
}
#avatar-pic{
    width: 100px;
    height: 100px;
}

.card {
    display: flex;
    flex-flow: row wrap;
}
h2{
    font-size: 26px;
    text-align: left;
}

/*styles the card text*/
#card-text {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.picture-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
}

#study-guide, #contact-form, #code-snippet {
    margin: 5px;
    width: 30%;
}

.overlay:hover {
    outline: 3px solid var(--highlightColor);
    cursor: pointer;
}

.picture-caption{
    position: absolute;
}

#study-guide-caption{
    color: var(--textColor);
    left: 90px;
    top: 210px;
}

#contact-form-caption{
    color: var(--textColor);
    top: 210px;
}

#code-snippet-caption{
    color: var(--textColor);
    right: 60px;
    top: 210px;
}

@media screen and (max-width: 768px){
    .picture-holder{
        flex-direction: row;
    }
    #study-guide, #contact-form, #code-snippet {
        margin: 5px;
        width: 45%;
    }
}