:root {
    --headerColor: #CCD5AE;
    --colorTwo: #E9EDC9;
    --colorThree: #FEFAE0;
    --colorFour: #FAEDCD;
    --colorFive: #D4A373;
}

*{
    margin: 0;
    padding: 0;
}

header{
    height: 80px;
    width: 100%;
    background-color: var(--headerColor);
    padding-top: 25px;
    padding-left: 10px;
}
header h1 {
    position: relative;
    top: 40px;
}
/*navbar styling*/
.navbar {

    font-size: 24px;
    position: relative;
    top: 10px;
    float: right;
    margin-right: 20px;

    background-color: var(--colorThree);
}
/*========================*/

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 0 1 auto;
}

/*about me style*/
#about-me aside {
    width: 5%;
    margin: 10px 20px 20px 10px;
    padding-right: 20px;
    float: left;
}

#about-me p {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
}
/*========================*/

/*my work styling*/
#my-work aside {
    width: 5%;
    margin: 10px 20px 20px 10px;
    padding-right: 20px;
    float: left;
}

#my-work p {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
}
/*========================*/
/*Contact Me Stlying*/
#contact-me aside {
    width: 5%;
    font-size: 95%;
    margin: 10px 20px 20px 10px;
    padding-right: 20px;
    float: left;
}

#contact-me p {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
}
/*========================*/

/* ? Make the 'asides' 100% width when less than certain pixels wide */